body {
  text-align: center;
}

#gameboard {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #3621af;
  padding: 10px;
  margin: 100px 100px;
  width: 50%;
}

.gameboarditem,
.tikbutton {
  background-color: rgba(143, 60, 71, 0.8);
  border: 1px solid rgba(71, 21, 21, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
